<div class="profile clearfix">
    <div class="profile_pic">
      <img src="https://scontent.frgn4-1.fna.fbcdn.net/v/t1.0-9/90178917_774973546363351_5114238501054840832_n.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_eui2=AeEwuUsWWXCdfqn-AwR_bHKTL41sOLaa9KwvjWw4tpr0rOAVFVuHRqfqtzA6dlf18iEdnhxNKBALrATSOSJas2m6&_nc_ohc=yPidXN3rGd8AX-CwBOG&_nc_ht=scontent.frgn4-1.fna&oh=3e5a4015421fbe9178530e2507b66f3b&oe=5F663098" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>John Doe</h2>
    </div>
  </div>